/* Poppins font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin:0;
    padding:0;
}
body{
    background-image: url('./images/living-room.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins';
    color:#fff;
}
main{
    margin:30px 40px;
}
.nav-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-image .logo{
    height: 30px;
}
.list-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.list-item{
    font-size:16px;
    margin:0px 20px;
}
.phone-section{
    position:relative
}
.phone-section svg{
    position: absolute;
    right:135px;
    bottom:10px;
}
.phone-info{
    font-size:14px;
}
.phone-number{
    font-size:14px;
}
.hamburger{
    display: none;
}
.header-footer{
    margin-top: 40px;
    width:900px;
    height: 3px;
    background-color: #fff;
    float:right;
}
.main-content{
    margin-top:100px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.left-section{
    width:50%;
}
.left-section .left{
    margin-left:30px;
    padding-top: 30px;
}
.left .heading{
    font-size:45px;
    font-weight: 900;
}
.left-button{
    margin-top:70px;
}
.left-button button{
    padding:15px 30px;
    font-size:18px;
    text-transform: uppercase;
    border:2px solid #fff;
    background: transparent;
    outline:0;
    border-radius: 25px;
    color:#fff;

}
.right-section{
    width: 50%;
    position: relative;
    height: 80vh;
}
.user-tag-section{
    position:absolute;
    right:0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-section .user-tag{
    background-color:rgba(48,72,90,0.7);
    width:30%;
    padding:0px 15px;
    position:absolute;
    right:0;

}
.user-tag-text, .light-text{
    font-size:13px;
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 15px;
}
.design-one, .design-two{
    position:absolute;
}
.design-one{
    right:15%;
    top:150px;
}
.line-one{
    height: 30px;
    width: 2px;
    background-color: #fff;
    margin-left:6px;
}
.circle-one{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.light-section{
    width: 35%;
    background-color: rgba(48,72,90,0.7);;
    padding:0px 15px;
    position:relative;
    top:50%;
    display: flex;
    flex-direction: row;
}
.light-img{
    background-color: #fff;
    margin-top:30px;
    width: 50%;
    border-radius : 20px;
}
.light-img img{
    display: block;
    height: 30px;
    padding-top:10px;
    padding-bottom: 10px;  
    margin-left:auto;
    margin-right:auto;  
}
.design-two{
    right:-14%;
    bottom:38%;
}
.line-two{
    height: 2px;
    width: 35px;
    background-color: #fff;
}
.circle-two{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    left:100%;
    margin-top: -9px;
}

/* media query for mobile */
@media screen and (max-width:576px) {
    .list-items,.phone-section{
        display: none;
    }
    .hamburger{
        display: block;
        font-size:30px;
    }
    .main-content{
        flex-direction: column;
    } 
    .left-section,.right-section{
        width:100%;
    } 
    .left-section .left{
        margin-left: 0px;
    } 
    .left-button{
        margin-top: 30px;
    }
    .right-section{
        margin-top: 40px;
    }
    .right-section .user-tag{
        width:100%;
        position: static;
    }
    .user-tag-text, .light-text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .user-tag-text, .light-text {
        font-size:21px;
    }
    .design-one, .design-two{
        display: none;
    }
    .light-section {
        width: 100%;
        top:40%
    }
}